.hero {
   background-image: url(./hotel-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.hero-content {
    z-index: 2;
    text-align: center;
    padding: 2rem;
}
.hero-content h1 {
   text-align: center;
    font-size: 2rem;
    max-width: 80%;
    line-height: 1.5;
}







