.photo{
    display: flex;
    gap:2rem;
    justify-content: center;
    width: 100%;
   
   
}

.photo p {
    width: 70%;
    text-align: center;
    color: black;
   
    
}
.icon1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: black;
    gap: 20px;
    width: 50%;
    margin: 0 auto;
}
.facility-icons{
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.heading-facility{
    text-align: center;
}
  
.footer-container{
    background-color:lightblue;
    display: flex;
    gap: 1.25rem;
    justify-content: space-around ;
}
h1{
    color:white;
}
p{
    color:white;
    font-size:15px;
}
.icon{
    color:dodgerblue;
}