.testimony-container{
    background-color:rgb(93, 48, 48);
    
}


.testimony-heading{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;


}
.testimony-para{
    color: black;
    width:1000px
    
}