.testimony-container{
    background-color:rgb(93, 48, 48);
   height: 15rem;
    
}


.testimony-heading{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;


}
.testimony-para p{
    justify-content: center;
    display: flex;
    text-align: center;
    color: white;
    width:1000px

    
}